<!DOCTYPE html>
<html lang="en">

<head>
   {{>header}}
</head>

<body>
  {{>navbar}}

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    <div class="col-md-6 col-12 main_header_left">

                        <figure>
                            <img src="images/404.jpg" alt="kingo" class="img-fluid" title="kingo technical">
                        </figure>

                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>welcome to kingo weahter</p>
                        <h1>{{errmsg}}</h1>
                        <a href="/"><button>go back</button></a>
                    </div>
                
                </div>
            </div>
        </div>

    </div>
    <footer>
        <p>created by kingo</p>
    </footer>
</body>

</html>